:root {
    --grid-dimension:16;
}

.buttonCon {
    display: grid;
    background-color: white;
    grid-template-columns: repeat(var(--grid-dimension),1fr);
    border: 1px solid black;
    height: 500px;
    width: 500px;
}
.square {
    background-color: white;
    text-align: center;
}
body {
    display: flex;
    justify-content: center;
    background-color: blue;
}

