:root {
    --grid-dimension:16;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button {
    padding: 15px;
    font-family:'Courier New', Courier, monospace
}
.gridDim {
    display: grid;
    background-color: white;
    grid-template-columns: repeat(var(--grid-dimension),1fr);
    height: 500px;
    width: 500px;
}
.square {
    background-color: white;
    text-align: center;
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: gray;
    font-family:'Courier New', Courier, monospace
}
h1 {
    text-align: center;
}

